/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 991px) {
	.tag {
    padding: 10px;
	}
	#main_skills {
		.skill p {
			position: relative;
			left: auto;
			margin-top: 15px;
			transform: none !important;
			opacity: 1;
			z-index: auto;
		}
	}
	#main_contact .form {
		margin-top: 15px;
		margin-bottom: 15px;
		.form-group:nth-child(4) {
			margin-bottom: 15px;
		}
	}
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 767px) {
	#main_cover, #main_work, #main_skills, #main_contact {
		position: absolute;
		background-color: #EDEDED;
		width: 100%;
		top: 50px; left: 0;
		&.front { z-index: 10; }
		&.oldfront { z-index: 9; }
	}
	#main_cover {	height: calc(100vh - 50px); }
}
