$gradient: linear-gradient(to bottom, #322954 0%, #2136a3 8%, #2ea7ec 27%, #89e7ff 37%, #ffffff 47%, #ffffff 52%, #2d2557 58%, #4737a6 79%, #8acdfc 100%);
$zielony: #83B5B2;
$cien: 0px 3px 10px -3px rgba(black, 0.5);
$paski: url(../img/pasek.png) repeat-x left 0 top 10px, url(../img/pasek.png) repeat-x bottom 10px left 0px;
