/* -------------------  /
/  Autor: Robert Kirsz  /
/ -------------------- */

@import "entry-animations";
@import "scanlines";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$zielony: #83B5B2;
$cien: 0px 3px 10px -3px rgba(black, 0.5);
$paski: url(../img/pasek.png) repeat-x left 0 top 10px, url(../img/pasek.png) repeat-x bottom 10px left 0px;

@mixin border-top-bottom {
	border-bottom: 1px solid rgba(black, 0.4);
	border-top: 1px solid rgba(white, 0.4);
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
	overflow-y: scroll;
}

body  {
	font: 15px 'Open Sans', sans-serif;
	background: #EDEDED;
}

.navbar-default .navbar-nav>li>a {
	&:focus {
		color: #777;
	}
	&:hover {
		color: #333;
	}
}
.tag {
	color: #777;
    margin: 10px 0;
    padding: 10px 10px 10px 50px;
    font-size: 2em;
    font-family: monospace;
    // background: rgba(red, 0.1);
}

#main_nav.white {
	background: rgba(0, 0, 0, 0.25);
	// background: none;
	box-shadow: none;
	.navbar-brand, .navbar-nav a {
		color: rgba(250,250,250,1);
	}
}

#main_nav {
	position: fixed;
	top: 0; left: 0;
	border: none;
	box-shadow: 0 3px #D9D9D9;
	margin: 0;
	width: 100%;
	z-index: 999;
	font-family: monospace;
	.navbar-brand, .navbar-nav a {
		transition: color $time $ease1;
	}
	.navbar-toggle {
		border: none;
		transition: background 0.3s;
	}
	.navbar-header {
		.navbar-brand {
			font-family: monospace;
		}
	}
	.navbar-nav a.active {
		text-decoration: underline;
	}
}

#main_cover {
	height: 100vh; width: 100vw;
	display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
	background: url(../img/intro2/bg-min.jpg) no-repeat center center;
	background-size: cover;
	.title {
		position: relative;
		width: 90vw; height: 16vw;
		background: url(../img/intro2/title-min.png) no-repeat center center;
		background-size: contain;
		z-index: 1;
	}
	.mask {
		position: absolute;
    top: 6px; right: 0; bottom: 0; left: 0;
    mask-image: url(../img/intro2/mask.png);
    background: #292259 url(../img/intro2/gradient.png) 0 -14px no-repeat;
    background-size: cover;
    mask-size: contain;
	}
	.name {
		position: relative;
		top: 9vw; left: 22vw;
    width: 70vw; height: 21vw;
		background: url(../img/intro2/name.png) no-repeat center center;
		background-size: contain;
	}
}

#main_skills {
	.row {
		margin: 0 0 10px;
		padding-bottom: 20px;
		background: rgba(#FAFAFA, 0.25);
		box-shadow: 0 3px #D9D9D9;
		h2 {
			color: #777;
			font-family: monospace;
			font-size: 1.5em;
			margin: 15px;
		}
	}
	.skill {
    position: relative;
		display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    img:hover + p {
    	opacity: 1;
			transform: translate3d(-50%,0,0) rotate3d(0,0,0,0);
    }
		p {
	    position: absolute;
	    top: 100%; left: 50%;
			margin-top: 5px;
			padding: 0.9em 1.5em;
			background: #FAFAFA;
			box-shadow: 0 3px #D9D9D9;
			opacity: 0;
			transition: opacity 0.2s, transform 0.2s;
			pointer-events: none;
			z-index: 999;
			white-space: nowrap;
			transform: translate3d(-50%,10px,0) rotate3d(1,1,0,25deg);
			&:before {
				content: '';
				position: absolute;
				background: #fafafa;
				display: block;
				width: 20px; height: 20px;
				top: -5px;
				left: 50%;
				margin-left: -10px;
				transform: rotate(45deg);
				z-index: -1;
			}
		}
	}
	.advanced {
		img { height: 140px; }
		p { font-size: 1.2em;	}
	}
	.intermediate {
		img { height: 120px; }
		p { font-size: 1em;	}
	}
	.beginner {
		img { height: 100px; }
		p { font-size: 0.9em;	}
	}
	.other {
		img { height: 120px; }
		p { font-size: 1em;	}
	}
}

@import "layout/portfolio";

#main_contact {
	.container {
		padding-bottom: 15px;
	}
	.about {
		display: flex;
	    flex-flow: column nowrap;
	    justify-content: center;
	    align-items: center;
	    line-height: 25px;
		img {
			border-radius: 50%;
		}
		p {
			text-align: center;
		}
		.fa-envelope {
			margin-left: 3px;
		}
	}
	.form {
		margin-top: 15px;
		.input-group-addon {
			background: #E6E6E6;
			border: none;
			box-shadow: 0 3px #D9D9D9;
		}
		.form-control {
			background: #fafafa;
			border: none;
			box-shadow: 0 3px #D9D9D9;
		}
		.form-group {
			margin-bottom: 12px;
			&:nth-child(4) {
				margin-bottom: 0;
			}
		}
		.btn {
			transition: background 0.3s;
			outline: none;
			min-width: 64px;
			&.nonactive {
				pointer-events: none;
			}
		}
	}
}

/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 991px) {
	.tag {
    	padding: 10px;
	}
	#main_cover {
		.info {
			font-size: 1.5em;
			padding: 1em;
			h1 {
				padding: 0.3em 1em;
			}
		}
	}
	#main_skills {
		.skill p {
			position: relative;
			left: auto;
			margin-top: 15px;
			transform: none !important;
			opacity: 1;
			z-index: auto;
		}
	}
	#main_portfolio .portfolio-item {
		&:first-child {
			.description {
				margin-top: 0;
			}
		}
		&:nth-of-type(odd),
		&:nth-of-type(even) {

		.description {
			margin-top: 20px;
			margin-bottom: 20px;
			&:before {
				left: 50%; top: auto; right: auto; bottom: -9px;
				box-shadow: 3px 3px #D9D9D9;
  			transform: rotate(45deg);
				margin-left: -10px;
				z-index: auto;
			}
		}
		}
	}
	#main_contact .form {
		margin-top: 15px;
		margin-bottom: 15px;
		.form-group:nth-child(4) {
			margin-bottom: 15px;
		}
	}
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 767px) {
	#main_cover, #main_portfolio, #main_skills, #main_contact {
		position: absolute;
		background-color: #EDEDED;
		width: 100%;
		top: 50px; left: 0;
		&.front {
			z-index: 10;
		}
		&.oldfront {
			z-index: 9;
		}
	}
	#main_cover {
		height: calc(100vh - 50px);
		.info {
			font-size: 1em;
			padding: 0.5em;
			p {
				font-size: 1.2em;
			}
		}
	}
	#main_portfolio {
		padding-bottom: 15px;
		.portfolio-item {
			margin-bottom: 0;
			.description {
				padding: 5px 25px 20px;
			}
			.desktop .top {
				.fa {
					font-size: 1em;
					margin: 0 3px;
				}
				.address {
					margin-left: 3px;
					font-size: 0.8em;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						top: 0; right: 0; bottom: 0;
						width: 2em;
						background: linear-gradient(to right, transparent 0%, white 8);
						pointer-events: none;
					}
				}
			}
			&.mobile_only {
				.phone {
					display: block;
					position: relative;
					top: 0; left: 0; bottom: 0;
					margin: 10px auto 0;
				}
			}
			&.responsive {
				.phone {
					position: absolute;
			    bottom: -13px;
			    margin: 0;
			    transform: scale(0.5);
					transform-origin: bottom;
				}
			}
			&.left {
				.phone {
					left: 1px;
			    transform-origin: bottom left;
				}
			}
			&.right {
				.phone {
					right: 1px;
			    	transform-origin: bottom right;
				}
			}
		}
	}
}

/* perfect-scrollbar v0.6.7 */

.ps-container {
  -ms-touch-action: none;
  overflow: hidden !important; }
  .ps-container.ps-active-x > .ps-scrollbar-x-rail,
  .ps-container.ps-active-y > .ps-scrollbar-y-rail {
    display: block; }
  .ps-container.ps-in-scrolling {
    pointer-events: none; }
    .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container > .ps-scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    bottom: 3px;
    /* there must be 'bottom' for ps-scrollbar-x-rail */
    height: 8px; }
    .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      bottom: 0;
      /* there must be 'bottom' for ps-scrollbar-x */
      height: 8px; }
  .ps-container > .ps-scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
    -o-transition: background-color 0.2s linear, opacity 0.2s linear;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    right: 3px;
    /* there must be 'right' for ps-scrollbar-y-rail */
    width: 8px; }
    .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      position: absolute;
      /* please don't change 'position' */
      background-color: #aaa;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition: background-color 0.2s linear;
      -o-transition: background-color 0.2s linear;
      transition: background-color 0.2s linear;
      right: 0;
      /* there must be 'right' for ps-scrollbar-y */
      width: 8px; }
  .ps-container:hover.ps-in-scrolling {
    pointer-events: none; }
    .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
        background-color: #999; }
    .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
      background-color: #eee;
      opacity: 0.9; }
      .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
        background-color: #999; }
  .ps-container:hover > .ps-scrollbar-x-rail,
  .ps-container:hover > .ps-scrollbar-y-rail {
    opacity: 0.6; }
  .ps-container:hover > .ps-scrollbar-x-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
      background-color: #999; }
  .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: #eee;
    opacity: 0.9; }
    .ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
      background-color: #999; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2014 Daniel Eden
*/

.animated {
  animation-duration: 0.7s;
  animation-fill-mode: both;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}
