/* -------------------  /
/  Autor: Robert Kirsz  /
/ -------------------- */
@import url("https://fonts.googleapis.com/css?family=Nunito");
#main_contact .profile { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: stretch; align-content: stretch; }

/* ENTRY ANIMATIONS */
#main_nav { transition: background-color 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1s, box-shadow 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1s; }

#main_nav.rk { background-color: #ededed; box-shadow: 0 3px #ededed; }

#main_nav .container { transition: opacity 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97), transform 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97); }

#main_nav .container.rk { opacity: 0; transform: translateY(50px); }

#main_cover { transition: background-position 0s linear, opacity 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1.25s; }

#main_cover.rk { opacity: 0; }

#main_cover .info h1:first-child { transition: opacity 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1.5s, transform 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1.5s; }

#main_cover .info h1:first-child.rk { opacity: 0; transform: translateY(-100px); }

#main_cover .info h1:nth-child(2) { transition: opacity 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1.5s, transform 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1.5s; }

#main_cover .info h1:nth-child(2).rk { opacity: 0; transform: translateY(100px); }

#main_skills, #main_work, #main_contact, .tag { opacity: 1; transition: opacity 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97) 1.5s; }

#main_skills.rk, #main_work.rk, #main_contact.rk, .tag.rk { opacity: 0; }

/* REGULAR SCANLINES SETTINGS */
/* MOVING SCANLINE SETTINGS */
/* MIXINS */
/* CSS .scanlines CLASS */
.scanlines { position: relative; overflow: hidden; }

.scanlines:before, .scanlines:after { display: block; pointer-events: none; content: ''; position: absolute; }

.scanlines:before { position: absolute; bottom: 100%; width: 100%; height: 2px; z-index: 9; background: rgba(0, 0, 0, 0.1); opacity: 0.75; animation: scanline 6s linear infinite; }

.scanlines:after { top: 0; right: 0; bottom: 0; left: 0; z-index: 8; background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.3) 51%); background-size: 100% 4px; animation: scanlines 1s steps(60) infinite; }

/* ANIMATE UNIQUE SCANLINE */
@keyframes scanline { 0% { bottom: 0%; } }

@keyframes scanlines { 0% { background-position: 0 50%; } }

html, body { padding: 0; margin: 0; }

html { overflow-x: hidden; overflow-y: scroll; }

body { font: 15px 'Nunito', sans-serif; background: #EDEDED; }

.navbar-default .navbar-nav > li > a:focus { color: #777; }

.navbar-default .navbar-nav > li > a:hover { color: #333; }

.tag { color: #777; margin: 20px 0; font-size: 2em; font-family: monospace; }

#main_cover { height: 100vh; width: 100vw; display: -ms-flexbox; display: flex; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; background: url(../img/intro/background.jpg) no-repeat center center; background-size: cover; }

#main_cover .title { position: relative; width: 90vw; height: 16vw; background: url(../img/intro/title.png) no-repeat center center; background-size: contain; z-index: 1; }

#main_cover .name { position: relative; top: 9vw; left: 22vw; width: 70vw; height: 21vw; background: url(../img/intro/name.png) no-repeat center center; background-size: contain; }

#main_nav { position: fixed; top: 0; left: 0; border: none; box-shadow: 0 3px #D9D9D9; margin: 0; width: 100%; z-index: 999; font-family: monospace; }

#main_nav.white { background: rgba(0, 0, 0, 0.25); box-shadow: none; }

#main_nav.white .navbar-brand, #main_nav.white .navbar-nav a { color: #fafafa; }

#main_nav .navbar-brand, #main_nav .navbar-nav a { transition: color 0.75s cubic-bezier(0.435, 0.015, 0.165, 0.97); }

#main_nav .navbar-toggle { border: none; transition: background 0.3s; }

#main_nav .navbar-header .navbar-brand { font-family: monospace; }

#main_nav .navbar-nav a.active { text-decoration: underline; }

.work-item { display: -ms-flexbox; display: flex; position: relative; -ms-flex-align: center; align-items: center; }

@media (max-width: 767px) { .work-item { margin-bottom: 0; } }

.work-item:not(:first-of-type) { margin-top: 50px; }

.work-item:last-child { margin-bottom: 50px; }

.work-item .icons { display: -ms-flexbox; display: flex; -ms-flex-align: baseline; align-items: baseline; }

.work-item .icons .responsive-icons { -ms-flex: none; flex: none; font-size: 1.5em; }

.work-item .icons .tech-icons { display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-align: center; align-items: center; margin-left: 10px; }

.work-item .icons .tech-icons img { width: 20px; margin: 0 0 5px 5px; }

.work-item .description { -ms-flex: 1; flex: 1; position: relative; max-width: 420px; padding: 15px 35px 15px; background: #fafafa; box-shadow: 0 3px #D9D9D9; }

@media (max-width: 767px) { .work-item .description { padding: 5px 25px 20px; } }

.work-item .description:before { content: ""; box-shadow: 0 3px #D9D9D9; position: absolute; background: #fafafa; display: block; width: 20px; height: 20px; top: 50%; margin-top: -10px; z-index: -1; }

.work-item .description .fa:not(:first-of-type) { margin-left: 5px; }

.work-item .description .fa.false { opacity: 0.2; }

.work-item .description p { margin: 11px 0px 30px; }

.work-item .description .link { font-size: 1.5em; }

.work-item .browsers { -ms-flex: 2; flex: 2; }

@media (max-width: 767px) { .work-item .browsers { width: 100%; } }

.work-item .desktop { display: inline-block; background-color: #fff; border-top-left-radius: 5px; border-top-right-radius: 5px; box-shadow: 0 3px #D9D9D9; }

@media (max-width: 767px) { .work-item .desktop { width: 100%; } }

.work-item .desktop .top { display: -ms-flexbox; display: flex; -ms-flex-flow: row nowrap; flex-flow: row nowrap; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; padding: 5px; border-bottom: 1px solid #BBB; }

.work-item .desktop .top .fa { -ms-flex: 0 1 auto; flex: 0 1 auto; font-size: 1.2em; color: #999; margin: 0 5px; }

.work-item .desktop .top .fa:last-child { margin-right: auto; }

@media (max-width: 767px) { .work-item .desktop .top .fa { font-size: 1em; margin: 0 3px; } }

.work-item .desktop .top .address { -ms-flex: 0 1 100%; flex: 0 1 100%; margin-left: 5px; padding: 2px 10px; border: 1px solid #BBB; border-radius: 3px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

@media (max-width: 767px) { .work-item .desktop .top .address { margin-left: 3px; font-size: 0.8em; } }

.work-item .desktop .screen { position: relative; height: 100%; max-width: 750px; overflow: hidden; }

.work-item .desktop .screen img { width: 100%; transition: opacity 1s ease; }

.work-item .desktop .bottom { height: 10px; }

.work-item .phone { display: block; position: absolute; max-width: 262px; bottom: -30px; background: #fff; border: 2px solid #BBB; border-bottom-width: 6px; border-top-width: 4px; border-radius: 45px 45px 45px 45px/50px 50px 50px 50px; }

@media (max-width: 991px) { .work-item .phone { max-width: 200px; } }

.work-item .phone .top { height: 40px; position: relative; }

.work-item .phone .top:before { content: ""; position: absolute; top: 20px; left: 50%; width: 70px; height: 5px; margin-left: -35px; border-radius: 5px; background-color: #DDD; box-shadow: 0px 2px 0 #BBB; }

.work-item .phone .screen { position: relative; margin: 0 10px; overflow: hidden; }

.work-item .phone .screen img { width: 100%; transition: opacity 1s ease; }

.work-item .phone .bottom { height: 50px; }

.work-item .phone .bottom:before { content: ""; position: absolute; left: 50%; bottom: 10px; width: 66px; height: 18px; margin-left: -33px; border-radius: 5px 5px 10px 10px; border: 1px solid #BBB; border-bottom-width: 3px; }

.work-item .work-in-progress-badge { position: absolute; top: 0; right: 0; height: 105px; overflow: hidden; pointer-events: none; }

.work-item .work-in-progress-badge span { display: block; position: relative; top: 6px; left: 40px; padding: 10px 35px; background: #fcff6f; font-size: 0.9em; font-weight: bold; text-align: center; transform: rotate(45deg); line-height: 1; }

.work-item .work-in-progress-badge span:before, .work-item .work-in-progress-badge span:after { content: ""; display: block; position: absolute; left: 0; right: 0; height: 5px; background-image: repeating-linear-gradient(-45deg, transparent, transparent 6px, black 6px, black 12px); }

.work-item .work-in-progress-badge span:before { top: 0; }

.work-item .work-in-progress-badge span:after { bottom: 0; }

.work-item:nth-of-type(odd) { -ms-flex-direction: row; flex-direction: row; }

@media (max-width: 991px) { .work-item:nth-of-type(odd) { -ms-flex-direction: column; flex-direction: column; } }

.work-item:nth-of-type(odd) .description { margin: 0 20px 0 0; }

.work-item:nth-of-type(odd) .description:before { right: -5px; transform: rotate(-45deg); }

.work-item:nth-of-type(even) { -ms-flex-direction: row-reverse; flex-direction: row-reverse; }

@media (max-width: 991px) { .work-item:nth-of-type(even) { -ms-flex-direction: column; flex-direction: column; } }

.work-item:nth-of-type(even) .description { margin: 0 0 0 20px; }

.work-item:nth-of-type(even) .description:before { left: -5px; transform: rotate(45deg); }

@media (max-width: 991px) { .work-item:nth-of-type(odd) .description, .work-item:nth-of-type(even) .description { margin: 0 0 25px; }
  .work-item:nth-of-type(odd) .description:before, .work-item:nth-of-type(even) .description:before { left: 50%; top: auto; right: auto; bottom: -9px; box-shadow: 3px 3px #D9D9D9; transform: rotate(45deg); margin-left: -10px; z-index: auto; } }

.work-item.mobile-only { -ms-flex-pack: center; justify-content: center; }

@media (max-width: 991px) { .work-item.mobile-only { -ms-flex-direction: column; flex-direction: column; } }

.work-item.mobile-only .description { -ms-flex: none; flex: none; }

.work-item.mobile-only .browsers { -ms-flex: none; flex: none; }

.work-item.mobile-only .phone { position: relative; top: 0; left: 0; bottom: 0; }

@media (max-width: 767px) { .work-item.mobile-only .phone { display: block; margin: 10px auto 0; } }

.work-item.responsive:nth-of-type(odd) .phone { right: -30px; }

.work-item.responsive:nth-of-type(even) .phone { left: -30px; }

@media (max-width: 767px) { .work-item.responsive .phone { position: absolute; bottom: -40px; margin: 0; transform: scale(0.5); transform-origin: bottom; } }

#main_skills .row { margin: 0 0 10px; padding-bottom: 20px; background: rgba(250, 250, 250, 0.25); box-shadow: 0 3px #D9D9D9; }

#main_skills .row h2 { color: #777; font-family: monospace; font-size: 1.5em; margin: 15px; }

#main_skills .skill { position: relative; display: -ms-flexbox; display: flex; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; padding-top: 10px; padding-bottom: 10px; }

#main_skills .skill img:hover + p { opacity: 1; transform: translate3d(-50%, 0, 0) rotate3d(0, 0, 0, 0); }

#main_skills .skill p { position: absolute; top: 100%; left: 50%; margin-top: 5px; padding: 0.9em 1.5em; background: #FAFAFA; box-shadow: 0 3px #D9D9D9; opacity: 0; transition: opacity 0.2s, transform 0.2s; pointer-events: none; z-index: 999; white-space: nowrap; transform: translate3d(-50%, 10px, 0) rotate3d(1, 1, 0, 25deg); }

#main_skills .skill p:before { content: ''; position: absolute; background: #fafafa; display: block; width: 20px; height: 20px; top: -5px; left: 50%; margin-left: -10px; transform: rotate(45deg); z-index: -1; }

#main_skills .primary img { height: 140px; }

#main_skills .primary p { font-size: 1.2em; }

#main_skills .secondary img { height: 120px; }

#main_skills .secondary p { font-size: 1em; }

#main_skills .other img { height: 100px; }

#main_skills .other p { font-size: 0.9em; }

#main_contact .container { padding-bottom: 15px; margin: 0 auto 50px; }

#main_contact .profile { margin-bottom: 30px; }

#main_contact .profile__photo { border-radius: 50%; }

#main_contact .profile__links { display: -ms-flexbox; display: flex; -ms-flex-direction: row; flex-direction: row; -ms-flex-wrap: nowrap; flex-wrap: nowrap; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: stretch; align-items: stretch; -ms-flex-line-pack: stretch; align-content: stretch; }

#main_contact .profile__links a { font-size: 2.5em; text-decoration: none; }

#main_contact .profile__links a:not(:first-child) { margin-left: 0.5em; }

#main_contact .bio { margin-bottom: 30px; }

#main_contact .form .input-group-addon { background: #E6E6E6; border: none; box-shadow: 0 3px #D9D9D9; }

#main_contact .form .form-control { background: #fafafa; border: none; box-shadow: 0 3px #D9D9D9; }

#main_contact .form .form-group { margin-bottom: 12px; }

#main_contact .form .btn { transition: background 0.3s; outline: none; min-width: 64px; }

#main_contact .form .btn.nonactive { pointer-events: none; }

/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 991px) { .tag { padding: 10px; }
  #main_skills .skill p { position: relative; left: auto; margin-top: 15px; transform: none !important; opacity: 1; z-index: auto; }
  #main_contact .form { margin-top: 15px; margin-bottom: 15px; }
  #main_contact .form .form-group:nth-child(4) { margin-bottom: 15px; } }

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width: 767px) { #main_cover, #main_work, #main_skills, #main_contact { position: absolute; background-color: #EDEDED; width: 100%; top: 50px; left: 0; }
  #main_cover.front, #main_work.front, #main_skills.front, #main_contact.front { z-index: 10; }
  #main_cover.oldfront, #main_work.oldfront, #main_skills.oldfront, #main_contact.oldfront { z-index: 9; }
  #main_cover { height: calc(100vh - 50px); } }

/* perfect-scrollbar v0.6.7 */
.ps-container { -ms-touch-action: none; overflow: hidden !important; }

.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail { display: block; }

.ps-container.ps-in-scrolling { pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail { background-color: #eee; opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x { background-color: #999; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail { background-color: #eee; opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y { background-color: #999; }

.ps-container > .ps-scrollbar-x-rail { display: none; position: absolute; /* please don't change 'position' */ border-radius: 4px; opacity: 0; transition: background-color 0.2s linear, opacity 0.2s linear; bottom: 3px; /* there must be 'bottom' for ps-scrollbar-x-rail */ height: 8px; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x { position: absolute; /* please don't change 'position' */ background-color: #aaa; border-radius: 4px; transition: background-color 0.2s linear; bottom: 0; /* there must be 'bottom' for ps-scrollbar-x */ height: 8px; }

.ps-container > .ps-scrollbar-y-rail { display: none; position: absolute; /* please don't change 'position' */ border-radius: 4px; opacity: 0; transition: background-color 0.2s linear, opacity 0.2s linear; right: 3px; /* there must be 'right' for ps-scrollbar-y-rail */ width: 8px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y { position: absolute; /* please don't change 'position' */ background-color: #aaa; border-radius: 4px; transition: background-color 0.2s linear; right: 0; /* there must be 'right' for ps-scrollbar-y */ width: 8px; }

.ps-container:hover.ps-in-scrolling { pointer-events: none; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail { background-color: #eee; opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x { background-color: #999; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail { background-color: #eee; opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y { background-color: #999; }

.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail { opacity: 0.6; }

.ps-container:hover > .ps-scrollbar-x-rail:hover { background-color: #eee; opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x { background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover { background-color: #eee; opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y { background-color: #999; }

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2014 Daniel Eden
*/
.animated { animation-duration: 0.7s; animation-fill-mode: both; }

@keyframes fadeInRight { 0% { opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% { opacity: 1;
    transform: none; } }

.fadeInRight { animation-name: fadeInRight; }
