#main_cover {
	height: 100vh; width: 100vw;
	display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
	background: url(../img/intro/background.jpg) no-repeat center center;
	background-size: cover;
	.title {
		position: relative;
		width: 90vw; height: 16vw;
		background: url(../img/intro/title.png) no-repeat center center;
		background-size: contain;
		z-index: 1;
	}
	.name {
		position: relative;
		top: 9vw; left: 22vw;
    width: 70vw; height: 21vw;
		background: url(../img/intro/name.png) no-repeat center center;
		background-size: contain;
	}
}
