#main_skills {
	.row {
		margin: 0 0 10px;
		padding-bottom: 20px;
		background: rgba(#FAFAFA, 0.25);
		box-shadow: 0 3px #D9D9D9;
		h2 {
			color: #777;
			font-family: monospace;
			font-size: 1.5em;
			margin: 15px;
		}
	}
	.skill {
    position: relative;
		display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    img:hover + p {
    	opacity: 1;
			transform: translate3d(-50%,0,0) rotate3d(0,0,0,0);
    }
		p {
	    position: absolute;
	    top: 100%; left: 50%;
			margin-top: 5px;
			padding: 0.9em 1.5em;
			background: #FAFAFA;
			box-shadow: 0 3px #D9D9D9;
			opacity: 0;
			transition: opacity 0.2s, transform 0.2s;
			pointer-events: none;
			z-index: 999;
			white-space: nowrap;
			transform: translate3d(-50%,10px,0) rotate3d(1,1,0,25deg);
			&:before {
				content: '';
				position: absolute;
				background: #fafafa;
				display: block;
				width: 20px; height: 20px;
				top: -5px;
				left: 50%;
				margin-left: -10px;
				transform: rotate(45deg);
				z-index: -1;
			}
		}
	}
	.advanced {
		img { height: 140px; }
		p { font-size: 1.2em;	}
	}
	.intermediate {
		img { height: 120px; }
		p { font-size: 1em;	}
	}
	.beginner {
		img { height: 100px; }
		p { font-size: 0.9em;	}
	}
	.other {
		img { height: 120px; }
		p { font-size: 1em;	}
	}
}
