html { overflow-y: scroll; overflow-x: hidden; }

[disabled=disabled] { opacity: 0.5; }

noscript { display: block; font-size: 4em; text-align: center; }

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }

.btn1 { vertical-align: top; padding: 5px 15px; font-size: 1em; color: white; text-align: center; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); text-decoration: none; border: none; border-radius: 3px; outline: none; cursor: pointer; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.btn1.active { pointer-events: none; }
.btn1:hover, .btn1.active { -webkit-transform: translateY(2px); -ms-transform: translateY(2px); transform: translateY(2px); }
.btn1:active { -webkit-transform: translateY(4px); -ms-transform: translateY(4px); transform: translateY(4px); -webkit-box-shadow: none; box-shadow: none; }

.btn1 { background: green; -webkit-box-shadow: 0px 4px 0px #004d00; box-shadow: 0px 4px 0px #004d00; }
.btn1.active { background: #008f00; }
.btn1:hover, .btn1.active { -webkit-box-shadow: 0px 2px 0px #004d00; box-shadow: 0px 2px 0px #004d00; }

.loading { display: inline-block; position: relative; pointer-events: none; }
.loading:after { content: ''; position: absolute; top: 50%; left: 50%; width: 20px; height: 20px; margin: -14px 0 0 -14px; border-left: 4px solid rgba(0, 174, 239, 0.15); border-right: 4px solid rgba(0, 174, 239, 0.15); border-bottom: 4px solid rgba(0, 174, 239, 0.15); border-top: 4px solid rgba(0, 174, 239, 0.8); border-radius: 100%; -webkit-animation: rotation .6s infinite linear; animation: rotation .6s infinite linear; }

.error_form { display: none; }

@-webkit-keyframes rotation { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

@keyframes rotation { from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }
main { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; max-width: 1200px; min-height: 100vh; margin: 0 auto; }
main > header { position: relative; -webkit-box-flex: 0; -webkit-flex: 0; -ms-flex: 0; flex: 0; min-height: 80px; padding: 10px 10px 0; background: #006666; border-bottom: 10px solid #003333; }
main > header .panel { position: absolute; top: 10px; right: 10px; }
main > header > nav ul { padding: 0; margin: 0; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; }
main > header > nav ul li { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; list-style: none; margin: 0 10px 10px 0; }
main > section { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row nowrap; -ms-flex-flow: row nowrap; flex-flow: row nowrap; background: #9dbcbc; }
main > section .wpisy { -webkit-box-flex: 3; -webkit-flex: 3; -ms-flex: 3; flex: 3; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; background: #ffcc66; }
main > section .wpisy .wpis { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; margin-bottom: 10px; padding: 10px; background: #ffeebb; border: 10px solid #ffe188; }
main > section .wpisy .wpis:last-of-type { margin-bottom: 0; }
main > section .wpisy .strona { padding: 10px; border: 10px solid #ffe188; }
main > section aside { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; padding: 10px; background: #6b6b6b; border-top: 10px solid #525252; border-bottom: 10px solid #525252; }
main > section aside ul { padding: 0; margin: 0; list-style: none; }
main > section aside ul li { margin: 0 0 20px 0; }
main > footer { -webkit-box-flex: 0; -webkit-flex: 0; -ms-flex: 0; flex: 0; min-height: 80px; padding: 15px; background: #b7b7b7; border-top: 10px solid #9e9e9e; }

.panel_logowania { display: none; margin: 50px 10px 10px; text-align: center; }
.panel_logowania img { max-width: 100%; height: auto; }
.panel_logowania ul { display: inline-block; padding: 15px 15px 5px; background-color: rgba(250, 250, 250, 0.5); border: 1px solid rgba(0, 0, 0, 0.3); list-style-type: none; border-radius: 5px; -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5); box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5); }
.panel_logowania li { float: left; margin: 0 10px 10px 0; }
.panel_logowania li:last-of-type { margin-right: 0; }
.panel_logowania input:not([type=submit]) { padding: 5px; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 3px; -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5); box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5); }
.panel_logowania + .powrot { display: none; position: absolute; left: 50%; bottom: 10px; margin-left: -15px; }
.panel_logowania + .powrot img { width: 30px; height: 30px; }

#panel_administracyjny .lista_plikow ul { list-style: none; margin: 0; padding: 0; }
#panel_administracyjny .lista_plikow ul li { float: left; position: relative; margin: 0 3px 3px 0; }
#panel_administracyjny .lista_plikow ul li:nth-child(4n+1) { clear: left; }
#panel_administracyjny .lista_plikow ul li button { position: absolute; top: 3px; right: 3px; }
#panel_administracyjny .lista_plikow form { clear: left; margin-top: 5px; padding: 5px; }

.panel_edycja_wpisu, .panel_edycja_strony { display: none; }

#strona_z_bledami h1 { text-align: center; }

#panel_administracyjny .help-block { margin-bottom: -10px; font-size: 0.75em; }
#panel_administracyjny .nav-tabs { margin-bottom: 15px; }

body.modal-open { padding-right: 0px !important; }

.btn-file { position: relative; overflow: hidden; margin-bottom: 15px; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; background: white; cursor: inherit; display: block; }

@media only screen and (max-width: 530px) { main > section { -webkit-flex-flow: column nowrap; -ms-flex-flow: column nowrap; flex-flow: column nowrap; }
  main > header nav ul { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .panel_logowania { margin: 0 auto; }
  .panel_logowania ul { margin: 0; }
  .panel_logowania ul li { float: none; margin-right: 0; } }
@media only screen and (max-width: 640px) and (orientation: landscape) { .panel_logowania { margin: 0 auto; } }
#flex .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; font-weight: bold; text-align: center; }
#flex .wrapper > * { padding: 10px; -webkit-box-flex: 1; -webkit-flex: 1 100%; -ms-flex: 1 100%; flex: 1 100%; }
#flex .wrapper .header { background: #b7b7b7; }
#flex .wrapper .footer { background: #006666; }
#flex .wrapper .main { text-align: left; background: #9dbcbc; }
#flex .wrapper .aside-1 { background: #6b6b6b; }
#flex .wrapper .aside-2 { background: #ffcc66; }
@media all and (min-width: 600px) { #flex .aside { -webkit-box-flex: 1; -webkit-flex: 1 auto; -ms-flex: 1 auto; flex: 1 auto; } }
@media all and (min-width: 800px) { #flex .main { -webkit-box-flex: 2; -webkit-flex: 2 0px; -ms-flex: 2 0px; flex: 2 0px; }
  #flex .aside-1 { -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; }
  #flex .main { -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; }
  #flex .aside-2 { -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; }
  #flex .footer { -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; } }

.karton { background-color: #61ff84; margin-top: 20px; padding: 10px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; }
.karton .pudelko { padding: 10px; font-weight: bold; text-align: center; }
.karton .pudelko.n1 { background-color: #15ff48; -webkit-box-ordinal-group: 2; -webkit-order: 1; -ms-flex-order: 1; order: 1; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; }
.karton .pudelko.n2 { background-color: #00fa37; -webkit-box-ordinal-group: 3; -webkit-order: 2; -ms-flex-order: 2; order: 2; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; }
.karton .pudelko.n3 { background-color: #00e131; -webkit-box-ordinal-group: 4; -webkit-order: 3; -ms-flex-order: 3; order: 3; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; }
.karton .pudelko.n4 { background-color: #00c72c; -webkit-box-ordinal-group: 5; -webkit-order: 4; -ms-flex-order: 4; order: 4; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; }
.karton .pudelko.n5 { background-color: #00ae26; -webkit-box-ordinal-group: 6; -webkit-order: 5; -ms-flex-order: 5; order: 5; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; }
.karton .pudelko.n6 { background-color: #009421; -webkit-box-ordinal-group: 7; -webkit-order: 6; -ms-flex-order: 6; order: 6; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; }
.karton .pudelko.n7 { background-color: #007b1b; -webkit-box-ordinal-group: 8; -webkit-order: 7; -ms-flex-order: 7; order: 7; -webkit-box-flex: 0; -webkit-flex: 0 1 auto; -ms-flex: 0 1 auto; flex: 0 1 auto; }

.parent { margin-top: 20px; height: 300px; background-color: #b7b7b7; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-flow: row wrap; -ms-flex-flow: row wrap; flex-flow: row wrap; }
.parent .child { height: 100px; width: 100px; background: #6b6b6b url(../Philips_PM5544.svg) 0 0 no-repeat; -webkit-background-size: 100px 100px; background-size: 100px 100px; margin: auto; }
